################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0-windows/Notepadcs.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0-windows/Notepadcs.assets.cache
/obj/Debug/net6.0-windows/Notepadcs.designer.deps.json
/obj/Debug/net6.0-windows/Notepadcs.designer.runtimeconfig.json
/obj/Debug/net6.0-windows/Notepadcs.dll
/obj/Debug/net6.0-windows/Notepadcs.g.resources
/obj/Debug/net6.0-windows/Notepadcs.pdb
/obj/Debug/net6.0-windows/Notepadcs_MarkupCompile.cache
/obj/Debug/net6.0-windows/Notepadcs_MarkupCompile.i.cache
/obj/Notepadcs.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Notepadcs.csproj.nuget.g.props
/bin/Debug/net6.0-windows/Notepadcs.dll
/bin/Debug/net6.0-windows/Notepadcs.exe
/bin/Debug/net6.0-windows/Notepadcs.pdb
/obj/Debug/net6.0-windows/ref/Notepadcs.dll
/obj/Debug/net6.0-windows/refint/Notepadcs.dll
/.vs/Notepadcs/FileContentIndex/24d171a3-5889-4886-9f65-f26626ced426.vsidx
/.vs/Notepadcs/FileContentIndex
/.gitignore
/.vs/Notepadcs/FileContentIndex/675478bc-f511-4d0a-b777-99e1fdcaa96d.vsidx
/.vs/Notepadcs/FileContentIndex/cd334858-15e3-431a-b30f-13dd05f16af7.vsidx
/.vs/Notepadcs/v17/.suo
/.vs/Notepadcs/v17/.futdcache.v2
/.vs/Notepadcs/DesignTimeBuild/.dtbcache.v2
